**/__pycache__/
test_data/GEI
test_data/single_frame_data
GEI/GEI_data
GEI/data/
GEI/models/
single_frame/models/
single_frame/single_frame_data
key_frames/key_frame_data
key_frames/models/
*.o
*.so
*.so.*
utils/build/
*.ods
key_frames/test_data/
